name: tests

on: [push]

jobs:
  test:

    name: unit tests
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        go-version: [ '1.18', '1.19', '1.20', '1.21.x' ]

    services:
      manticoresearch-manticore:
        image: manticoresearch/manticore:dev
        env:
          EXTRA: 1
        ports:
          - 9408:9308

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: |
          go get github.com/stretchr/testify/assert
          go get gopkg.in/validator.v2	    
      - name: Test with the Go CLI
        run: |
          sleep 3m
          cd test && go test
